{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="card">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        <label>Current Password</label><input type="password" name="old_password">
        <label>New Password</label><input type="password" name="new_password1">
        <label>Confirm</label><input type="password" name="new_password2">
        <button class="btn btn-primary">Change</button>
    </form>
</div>
{% endblock %}